/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* Проба ----------------------------------------------*/
div {
  padding: 50px;
  outline: 3px red solid;
}

/* gfhf ----------------------------------------------*/
