<<<<<<< HEAD
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
=======

>>>>>>> 460fd545aef31e8f841ce57e311b8725615392f8
body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* Проба ----------------------------------------------*/
<<<<<<< HEAD

/* gfhf ----------------------------------------------*/
=======
>>>>>>> 460fd545aef31e8f841ce57e311b8725615392f8
